// color

$white: #FFFFFF;
$white-light: #F9F9F9;
$white-bright: #F2F2F3;

$gray: #B1B1B1;

$dark: #000000;
$dark-shadow: rgba(0, 0, 0, 0.16);

$orange: #F86310;
$orange-light: #FFAB08;
$orange-dark: #FF5C00;
$orange-matt: #FF7020;

// media

$media-xl: 'min-width: 1360px';
$media-lg: 'min-width: 1024px';
$media-md: 'min-width: 768px';
$media-sm: 'min-width: 480px';